.footer {
  padding: 114px 0 123px;
}

.footer__text {
  margin: 20px auto 30px;
  max-width: 275px;
}

.footer__socialnets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 342px;
  margin: 80px auto 45px;
}

.socialnets__undertext {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  max-width: 243px;
  margin: 0 auto;
}

.footer__button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 180px;
  border-radius: 21px;
  font-weight: 700;
  background-color: #070707;
}

.footer__button:hover {
  background-color: rgb(189, 189, 189);
}

.socialnets__icon:hover {
  opacity: 0.2;
}

@media (max-width: 500px) {
  .footer {
    padding: 82px 0 90px;
  }

  .footer__text {
    margin: 27px auto 40px;
  }

  .footer__socialnets {
    max-width: 315px;
    margin: 48px auto 49px;
  }

  .footer__button {
    max-width: 315px;
  }
}
