.header {
  padding: 33px 0 104px;
}

h1 {
  display: block;
  font-size: 47px;
  line-height: 59px;
  font-weight: bold;
  margin: 40px 0 31px;
  max-width: 124px;
}

.nav__link {
  color: #828282;
}

.nav__link:hover {
  color: #070707;
}

.nav__link:first-child {
  color: #070707;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  position: relative;
  margin-bottom: 32px;
}

.header__nav::after {
  content: "";
  display: block;
  background-color: #828282;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -32px;
}

.header__title_text {
  display: block;
  margin: 102px 0 48px 0;
  max-width: 158px;
}

.header__title {
  display: flex;
  justify-content: space-between;
}

.header__image_desk {
  width: 100%;
  height: auto;
}

.header__image_mob {
  display: none;
  width: 100%;
  height: auto;
}

@media (max-width: 415px) {
  .header__image_desk {
    display: none;
    width: 100%;
    height: auto;
  }

  .header__image_mob {
    display: block;
    width: 100%;
    height: auto;
  }

  .header {
    padding: 65px 0 83px 0;
  }

  .header__nav {
    display: none;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .header__title_text {
    margin: 23px 0 0;
  }

  h1 {
    margin: 0;
  }
}
