.header {
  padding: 33px 0 104px 0;
}

h1 {
  font-size: 47px;
  line-height: 59px;
  font-weight: bold;
  margin: 40px 0 31px 0;
  max-width: 124px;
}

.nav__link {
  color: #828282;
  text-decoration: none;
  font-weight: 700;
}

.header__nav {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.nav__link:hover {
  color: #070707;
}

.nav__link:first-child {
  color: #070707;
}

.header__nav::after {
  content: "";
  display: block;
  background-color: #828282;
  /* max-width: 940px; */
  height: 1px;
  position: relative;
  top: 32px;
}

.header__text {
  margin: 95px 0 50px 0;
  max-width: 156px;
}

.header__title {
  display: flex;
  justify-content: space-between;
}

.header__image {
  display: block;
  width: 100%;
  height: auto;
}
