.header {
  padding: 33px 0 104px;
}

h1 {
  display: block;
  font-size: 47px;
  line-height: 59px;
  font-weight: bold;
  margin: 40px 0 31px;
  max-width: 124px;
}

.burger_nav {
  display: none;
}

.nav__link,
.burger_nav__link {
  color: #828282;
}

.burger_nav__link {
  font-size: 34px;
  line-height: 42px;
  display: inline-block;
  margin-bottom: 68px;
}

.burger_nav__list {
  text-align: left;
  position: fixed;
  padding: 66px 0 0 26px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.burger_nav__stripes {
  display: none;
  position: fixed;
  top: 68px;
  right: 30px;
  width: 33px;
  height: 4px;
  background-color: #000000;
  z-index: 5;
  transition: 0.6s;
}

.burger_nav__checkbox {
  position: fixed;
  top: 68px;
  right: 30px;
  width: 33px;
  height: 20px;
  opacity: 0;
  z-index: -7;
}

.burger_nav__checkbox:checked ~ .burger_nav__list {
  transform: none;
  transition: 0.6s;
}

.burger_nav__checkbox:checked ~ .burger_nav__stripes {
  transform: rotate(-45deg);
  transition: 1s;
}

.burger_nav__checkbox:checked ~ .burger_nav__stripes {
  transform: rotate(-45deg);
  transition: 0.6s;
}

ul {
  list-style-type: none;
  font-weight: 700;
}

.burger_nav__link:hover,
.nav__link:hover {
  color: #070707;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  position: relative;
  margin-bottom: 32px;
}

.header__nav::after {
  content: "";
  display: block;
  background-color: #828282;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -32px;
}

.header__title_text {
  display: block;
  margin: 102px 0 48px 0;
  max-width: 158px;
}

.header__title {
  display: flex;
  justify-content: space-between;
}

.header__image_desk {
  width: 100%;
  height: auto;
}

.header__image_mob {
  display: none;
  width: 100%;
  height: auto;
}

@media (max-width: 415px) {
  .header__image_desk {
    display: none;
    width: 100%;
    height: auto;
  }

  .header__image_mob {
    display: block;
    width: 100%;
    height: auto;
  }

  .header {
    padding: 65px 0 83px 0;
  }

  .header__nav {
    display: none;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .header__title_text {
    margin: 23px 0 0;
  }

  h1 {
    margin: 0;
  }

  .burger_nav__stripes {
    display: block;
  }

  .burger_nav__checkbox {
    z-index: 7;
  }

  .burger_nav {
    display: block;
  }
}
