.portfolio {
  background-color: #f6f6f6;
  padding-top: 113px;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio__image {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio__linkname {
  padding: 43px 0 99px 0;
}

.portfolio__link {
  color: #070707;
  font-weight: 500;
  text-decoration: none;
}

.portfolio__link:hover {
  color: #828282;
}
