.skills {
  padding: 91px 0 110px;
}

.skills__text {
  margin: 69px 0 83px 0;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 166px;
  min-height: 206px;
}

.card__image {
  height: 89px;
  display: block;
  margin: 0 auto;
}

.card__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #828282;
  max-width: 79px;
  text-align: center;
  margin: 23px auto 41px;
  min-height: 34px;
  text-indent: 1px;
}

.card__rating_star {
  width: 22px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1044px) {
  .skills {
    padding: 83px 0 99px;
  }
}

@media (max-width: 940px) {
  .skills__text {
    margin: 50px 0 71px 0;
  }

  .skills__wrapper {
    flex-wrap: wrap;
    max-width: 500px;
    gap: 90px 80px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .skills__wrapper {
    gap: 80px 0;
    flex-direction: column;
    align-items: center;
  }
}
